* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 12px;
  font-family: 'calibri', sans-serif;
  color: #777;
}

.to-do-container {
  background-color: #eee;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px 0;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.today-title {
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-align: left;
}

.reload {
  background-color: transparent;
  margin: 10px;
  height: 10px;
  width: 10px;
  border: none;
  cursor: pointer;
}

.add-task-form {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.add-task {
  flex: 20;
  border: none;
  padding: 0.5rem 0;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-weight: 100;
  outline: none;
}

.add-task::placeholder {
  color: #bbb;
}

.submit {
  background-color: transparent;
  height: 10px;
  width: 10px;
  border: none;
  cursor: pointer;
}

.to-do-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1px 0;
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.3rem 0;
}

.task:focus {
  background-color: rgb(247, 238, 119);
}

.task > * {
  display: inline-block;
  margin: 0 5px;
  flex: 1;
  vertical-align: middle;
}

.task > input {
  height: 12px;
}

.task > p {
  flex: 20;
  font-size: 12px;
  outline: none;
}

.task > span {
  text-align: right;
  padding-right: 5px;
}

.clear-all {
  width: 100%;
  text-align: center;
  padding: 0.65rem;
  font-size: 14px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
